<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>no.nilsnh.daily-screens.plist</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/nilsnh/daily-screens/cron-shotter.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>60</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/DailyScreens1.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/DailyScreensTest1.out</string>
</dict>
</plist>
